html {
	height: 100%;
}

body {
	color: #f0f0f0; 
	width: 100%;
	height: 100%;
	background: url(../img/main900.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
	-webkit-user-select: none;
	 -khtml-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
}

#title {
	width: 30%;
	position: absolute;
	top: 20%;
	left: 50%;
	background-color: transparent;
	padding: 15px 10px;
	margin: auto;
	border: 2px solid #f0f0f0;
	text-align: center;
	-webkit-transform:translate(-50%,-50%); 
	    -ms-transform:translate(-50%,-50%); 
	        transform:translate(-50%,-50%);
}

h1 {
	font-size: 2.0em; 
	text-transform: uppercase; 
	letter-spacing: -3px;
	word-spacing: 7px; 
	font-family: 'Martel Sans', sans-serif;
}

h2 {
	font-size: 1.0em;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	padding-top: 10px;
	-webkit-animation: flickerAnimation 6.0s infinite;
       -moz-animation: flickerAnimation 6.0s infinite;
            animation: flickerAnimation 6.0s infinite;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}



/* GFYCAT */
.gfy {
	position: absolute; 
	top: 0; 
	right: 0; 
	bottom: 0; 
	left: 0; 
	width: 100%;
	background-position: center center; 
	background-color: black; 
	background-size: cover; 
	display: none;
}

div[style] {
   width: 100%   !important;
   height: 100%  !important;
}

video[style] {
   width: 100%   !important;
   height: 100%  !important;
   object-fit: cover;
}



/* SOCIAL MEDIA	*/
.fa {
	color: #f0f0f0;
	padding: 0px 10px;
}

.fa:hover {
	color: #fce903;
}
































